<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tebanilia - Productos</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/layouts.css" />
    <link rel="stylesheet" href="/styles/details.css" />
    <link rel="stylesheet" href="/styles/cards.css" />
    <link rel="stylesheet" href="/styles/banner.css" />
  </head>
  <body>
    <header class="header1">
      <div class="header__logo">
        <a href="/"
          ><img
            src="/assets/logo_st.png"
            alt="logo_tebanilia"
            class="img__logo"
        /></a>
        <h1 class="header1__titulo">tebanilia</h1>
      </div>
      <nav class="navBar">
        <ul class="navBar__links">
          <% if (req.session.usuario) { %>
          <li>Hola, <%= req.session.usuario.nombre %>!</li>
          <li><a href="/user/logout">Cerrar sesión</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <main class="main1">
      <section class="container">
        <article class="product_detail">
          <% if (product) { %>
          <!-- Verifica si hay datos del producto -->
          <img
            src="/uploads/products/<%= product.imagen %>"
            alt="<%= product.nombre %>"
            class="img__producto"
            loading="lazy"
          />
          <h2 class="product_detail__titulo"><%= product.nombre %></h2>
          <p class="product_detail__subt"><%= product.detalle %></p>
          <p class="product_detail__res"><%= product.descripcion %></p>
          <p class="product_detail__subt">Precio: $<%= product.precio %></p>
          <div class="btn__container">
            <% if (req.session.usuario) { %> <% if
            (req.session.usuario.nivelAcceso === 'admin') { %>
            <!-- Si el usuario es administrador, muestra el botón "Editar" -->
            <a href="/products/action/<%= product.codigo %>">
              <button class="btn__editar">Editar</button>
            </a>
            <% } else if (req.session.usuario.nivelAcceso === 'client') { %>
            <!-- Si el usuario es cliente, muestra el botón "Carrito" -->
            <a href="/products/cart">
              <button class="btn__carrito">
                <img src="/assets/icon_cart.png" alt="carrito" />
              </button>
            </a>
            <% } %> <% } else { %>
            <a href="/user/login">
              <button class="btn__carrito">
                <img src="/assets/icon_cart.png" alt="carrito" />
              </button>
            </a>
            <% } %>
          </div>
          <% } else { %>
          <p>No se encontraron detalles para este producto.</p>
          <% } %>
        </article>
      </section>
    </main>
    <footer class="footer1">
      <div class="footer__logo">
        <a href="/"
          ><img
            src="/assets/logo_st.png"
            alt="logo_tebanilia"
            class="img__logo"
        /></a>
        <h3 class="footer__titulo">tebanilia</h3>
        <p class="footer__copyright">Copyrigth 2023</p>
      </div>
    </footer>
  </body>
</html>
